#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#img-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid lightgrey;
    width: 480px;
    box-shadow: 5px 5px 7px lightgray;
}
#img-container img{
    width: 30em;
    height: 25em;
}
#Pong{
    width: 480px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    border: 1px solid lightgray;
    margin: 10px;
    box-shadow: 5px 5px 7px lightgray;
}
#scorer{
    margin: 10px;
}
#score{
    margin: 10px;
    font-size: 50px;
}
#score-1{
    margin: 10px;
    font-size: 50px;
}
#score-2{
    margin: 10px;
    font-size: 50px;
}
p{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Play{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#buttons{
    width: 480px;
    display: flex;
    justify-content: center;
}
button
{
    padding: 0px;
    margin: 0.3px;
    width: 160px;
    height: 50px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}
#btn-1{
    background-color: rgb(78, 121, 240);
    border: 0px ;
    transition: all 0.2s;
}
#btn-2{
    background-color: rgb(33, 208, 33);
    border: 0px ;
    transition: all 0.2s;
}
#btn-3{
    background-color: rgb(228, 24, 24);
    border: 0px ;
    transition: all 0.2s;
}
#btn-1:hover{
    background-color: rgb(25, 73, 203);
    transform: scale(1.1);
}
#btn-2:hover{
    background-color: rgb(22, 164, 22);
    transform: scale(1.1);
}
#btn-3:hover{
    background-color: rgb(171, 18, 18);
    transform: scale(1.1);
}
#Points{
    margin: 20px;
}